<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Doctor</title>
</head>
<body>
    <div class="container">
        <h1>FORM DOCTOR</h1>
        <form method="post">
          <div class="mb-3">
            <label for="exampleInputText1" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
          <div class="mb-3">
              <label for="exampleInputText1" class="form-label">Specialization</label>
              <input type="text" class="form-control" id="specialization" name="specialization">
            </div>
            <div class="mb-3">
              <label for="exampleInputText1" class="form-label">Phone Number</label>
              <input type="number" class="form-control" id="phoneNumber" name="phoneNumber">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Address</label>
              <input type="text" class="form-control" id="address" name="address">
            </div>
          <button type="submit" class="btn btn-light border-secondary">Submit</button>
        </form>
    </div>
    <%- include('layouts/bootstrap') %>
</body>
</html>