<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <%- include('layouts/navbarbeforeLogin') %>
    <div class="container">
      <div class="health-theme">
        <h2>Konsultasi Kesehatan dengan Dokter</h2>
        <p>
          Dalam era digital ini, konsultasi kesehatan dengan dokter menjadi semakin mudah. Anda dapat menggunakan platform online untuk berkonsultasi
          dengan dokter tanpa harus keluar rumah. Ini memberikan kemudahan bagi banyak orang untuk mendapatkan saran medis yang cepat dan efisien.
        </p>
      </div>
      <div class="health-theme">
        <h2>Pemeriksaan Kesehatan (Checkup)</h2>
        <p>
          Pemeriksaan kesehatan rutin sangat penting untuk menjaga kesehatan tubuh Anda. Dengan melakukan pemeriksaan kesehatan secara berkala, Anda
          dapat mendeteksi masalah kesehatan secara dini dan mengambil langkah-langkah preventif yang diperlukan untuk menjaga kesehatan tubuh Anda.
        </p>
      </div>
    </div>
    <%- include('layouts/bootstrap') %>
  </body>
</html>
